/* Reset some default styles */
body, h1, p {
    margin: 0;
    padding: 0;
}

/* Basic styling for the header */
header {
    background-color: #8db71c;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}

/* Styling for the confirmation section */
.confirmation {
    text-align: center;
    margin: 20px 0;
}

.confirmation p {
    font-size: 18px;
    margin: 10px 0;
}

/* Styling for the footer */
footer {
    display: flex;
    flex-direction: column;
    background-color: black;
    align-items: center;
    color: white;

}

.footer1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    margin-top: 10px;
    padding: 0;

}

.social-media {
    display: flex;
    justify-content: center;
    color: white;
    flex-wrap: wrap;

}

.social-media a {
    color: white;
    margin: 20px;
    border-radius: 5px;
    margin-top: 10px;
    color: white;

}


.footer0 {
    font-weight: 1200;
    transition-duration: 1s;
    padding: 20px;

}

.footer0:hover {
    color: rgb(243, 168, 7);

}


.footer3 {
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}

.footer3 h4 {
    margin: 0 10px;

}

.ham,
.close {
    cursor: pointer;

}

.pay_btn{
	width: 200px;
	padding: 0.7rem 1.5rem;
	background: #8db71c;
	color: white;
	border: none;
	outline: none;
	margin-top: 1rem;
	cursor: pointer;
    border-radius: 10px;
}

.pay_btn:hover{
	background: #85ae15;
}

.pay_btn a{
	color: white;
	text-decoration: none;
    font-size: 20px;
}


@media only screen and (max-width: 770px){
	.container{
		flex-direction: column;
	}
	body{
		overflow-x: hidden;
	}
}

 /* social media handles */
 .fa {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
  }
  
  .fa:hover {
      opacity: 0.7;
  }
  
  .fa-facebook {
    background: #3B5998;
    color: white;
  }
  
  .fa-twitter {
    background: #55ACEE;
    color: white;
  }

  .fa-linkedin {
    background: #007bb5;
    color: white;
  }

 
  .fa-instagram {
    background: #f5115a;
    color: white;
  }